/* Container Styling */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Sidebar Title */
.sidebar-title {
    color: white !important;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Page Title */
.page-title {
    text-align: center;
    color: #000000; /* or any color you want */
    font-size: 26px;
    font-weight: bold;
}

/* Search Bar */
#searchCard {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #007bff;
    color: #fff;
}

/* Block Button */
.blockBtn {
    background: #dc3545;
    color: #fff
}